<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="main">
  <mat-card class="card-center">
    <mat-card-header>
      <h2>Random string generator</h2>
    </mat-card-header>
    <p>
      Select options, and click Generate.
    </p>

    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="generateRandomString()">
      <mat-form-field class="form-field">
        <mat-label>Length</mat-label>
        <input matInput type="number" min="6" max="20" formControlName="strLength" required>
        <mat-hint>min.6, max.20</mat-hint>
      </mat-form-field>

      <div class="included-characters">
        <mat-checkbox formControlName="allCapsAlphaChecked">{{ allCapsAlpha }}</mat-checkbox>
      </div>
      <div class="included-characters">
        <mat-checkbox formControlName="allLowerAlphaChecked">{{ allLowerAlpha }}</mat-checkbox>
      </div>
      <div class="included-characters">
        <mat-checkbox formControlName="allNumbersChecked">{{ allNumbers }}</mat-checkbox>
      </div>
      <div class="included-characters">
        <mat-checkbox formControlName="allUniqueCharsChecked">{{ allUniqueChars }}</mat-checkbox>
      </div>
      <button mat-stroked-button type="submit" class="btn-generate-string">
        Generate <mat-icon>cached</mat-icon>
      </button>
      </form>

      <p>
        Result area:
      </p>
      <mat-form-field>
        <mat-label>Result</mat-label>
        <input matInput [formControl]="resultString"
               class="string-result"
               placeholder="Placeholder"
               appearence="fill">
        <span matSuffix>
        <button mat-flat-button
                title="copy to clipboard"
                *ngIf="resultString.value"
                (click)="copyResultString()"><mat-icon>content_copy</mat-icon></button></span>
        <mat-hint>
          <span *ngIf="!resultDatetime">Click Generate ...</span>
          <span *ngIf="resultDatetime">Generated:</span>&nbsp;{{ resultDatetime }}</mat-hint>
      </mat-form-field>
      <span *ngIf="copied">{{ copied }}</span>

    </mat-card-content>

    <mat-card-footer>
      <div class="footer-content">
      </div>
    </mat-card-footer>

  </mat-card>

  <router-outlet></router-outlet>
</div>
